body{
    background-color: #f2e983;
}
h1{
    text-align: center;
    color: midnightblue;
}
header{
    background-color: #6be3e3;
    border: 5px solid white;
    border-top: 10px solid white;
    margin-top: 0px;
    #content{
        a {
            padding-left: 250px;
            
        }
    }
}
#About_Me{
    border: 5px solid white;
}
#Department_Curriculum{
    background-color: #6be3e3;
    border: 5px solid white;
    
    
}
#Github{
    border: 5px solid white;
    border-bottom: 10px solid white;
}


