body{
    background-color: bisque;
}
h1{
    text-align: center;
    color: midnightblue;
}
header{
    background-color: rgb(251, 196, 124);
    margin-top: 0px;
    
    
}
#Department_Curriculum{
    background-color: rgb(251, 196, 124);
    
    
}

